.header {
  height: 64px;
  background: #ffffff;
  border-bottom: 1px solid #e3e7ef;
  top: 0;
  width: 100%;
  z-index: 3;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.headerLeft{
  display: flex;
}
.userName,
.userSurname{
  margin: 10px;
  font-weight: bold;
}
.exitBtn{

}