.modal {
    position: relative;
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 15px;
    overflow: hidden;
    margin: 0 15px 160px;
  }
  
  .modal .footer {
    width: 100%;
    height: 60px;
    background-color: rgb(243, 244, 246);
    bottom: 0;
    display: flex;
    padding: 10px 1.5rem;
    flex-direction: row-reverse;
  }
  
  .modal-wrapper {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(107, 114, 128, 0.5);
    z-index: 1000;
    width: 100%;
    min-height: 100vh;
  }  
  .modal .body {
    padding: 20px 40px;
  }

  form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }